<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img [src]="imageUrl" alt="Profile Image" *ngIf="isUser" class="profile-image" />
            <img src="../assets/man-avatar.png" alt="Profile Image" *ngIf="isAdmin" class="profile-image"/>
            {{ username }}
        </a>        
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="bi bi-house"></i> Home
                </a>
            </li> 
            
            <li *ngIf="isUser" class="nav-item" >
                <a class="nav-link" href="/dash">
                    <i class="bi bi-info-circle"></i> Profile
                </a>
            </li>
            <li *ngIf="isAdmin" class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="bi bi-plus-circle"></i> Add Job
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" (click)="logout()">
                    <i class="bi bi-box-arrow-right"></i> Logout
                </a>
            </li>
            <li class="nav-item">
                <div class="notification-container">
                    <button class="btn btn-link" (click)="toggleNotifications()">
                        <i class="bi bi-bell"></i>
                        <span *ngIf="hasNewNotifications" class="notification-dot"></span>
                    </button>
                    <div class="notification-popup" [ngClass]="{'show': showNotifications}">
                        <button class="notification-close" (click)="toggleNotifications()">
                            <i class="bi bi-x"></i>
                        </button>
                        <h6>Notifications</h6>
                        <ul class="notification-list">
                            <li *ngFor="let notification of notifications">
                                <i class="bi bi-info-circle"></i> {{ notification.message }}
                            </li>
                            <li *ngIf="notifications.length === 0">No new notifications</li>
                        </ul>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</nav>