

<div *ngIf="isLoading" class="loading-container">
    <app-loading-spinner class="loading-spinner"></app-loading-spinner>
    <p>Loading student data...</p>
</div>


<div *ngIf="!isLoading">
    <app-navbar></app-navbar>
    <div class="search-container">
        <input type="text" [(ngModel)]="searchTerm" (input)="searchJobs()" placeholder="Search for jobs..." />
    
        <button (click)="searchJobs()">Search</button>
  <select [(ngModel)]="filterOption" (change)="applyFilter()">
    <option value="">All</option>
    <option value="favorite">Favorites</option>
    <option value="accepted">Accepted</option>
    <option value="rejected">Rejected</option>
    <option value="pending">Pending</option>
    <option value="open">Open</option>
    <option value="closed">Closed</option>
    <option value="offer">Job Offer</option>
    <option value="WrittenTest">WrittenTest</option>
    <option value="Technical Interview 1">Technical Interview 1</option>
    <option value="Technical Interview 2">Technical Interview 2</option>
    <option value="HR Round">HR Round</option>


  </select>
    </div>
    <div class="card-container">
        <div class="card" *ngFor="let job of filteredJobApplications">
            <div class="card-header">
                <h3>{{ job.company_name }}</h3>
                <button class="favorite-button" (click)="toggleFavorite(job)">
                    <span *ngIf="job.isFavorite" class="liked">&#9733;</span> 
                    <span *ngIf="!job.isFavorite" class="not-liked">&#9734;</span>
                  </button>
                  
                  
                  
            </div>

            <div class="card-content">
                <div class="card-body">
                    <p><strong>Type:</strong> {{ job.type }}</p>
                    <p><strong>Location:</strong> <i class="bi bi-geo-alt"></i> {{ job.location }}</p>
                    <p><strong>Salary:</strong> {{ job.package_lpa }} LPA</p>
                    <p><strong>Role:</strong> {{ job.role }}</p>

                    <p *ngIf="hasApplied(job.id)">
                        <strong>Status:</strong>
                        <span [ngClass]="{
              'status-applied': applicationStatuses[job.id]?.status === 'Applied',
              'status-accepted': applicationStatuses[job.id]?.status === 'ACCEPTED',
              'status-rejected': applicationStatuses[job.id]?.status === 'REJECTED',
              'status-pending' : applicationStatuses[job.id]?.status === 'PENDING'
            }">
                            {{ applicationStatuses[job.id]?.status }}
                        </span>
                    </p>
                    <p *ngIf="hasApplied(job.id)">
                        <strong>Stage:</strong>
                        <span class="stage-blue">
                            {{ applicationStatuses[job.id]?.stage }}
                        </span>
                    </p>

                    <button (click)="viewDetails(job)">View Details</button>

                    <button *ngIf="!hasApplied(job.id) && job.status !== 'Closed'" (click)="apply(job)" class="applyyy">Apply</button>
                </div>

                <div class="card-status-container">
                    <div class="apply-before">
                        <strong>Apply Before</strong> <br>{{ job.apply_before }}
                    </div>
                    <div class="card-status" [ngClass]="{
                      'status-open': job.status === 'Open', 
                      'status-closed': job.status === 'Closed'
                    }">
                        {{ job.status }}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal" [ngClass]="{'show': showModal}">
        <div class="modal-content">
            <span class="close" (click)="closeModal()">&times;</span>
            <h3>{{ selectedJob?.company_name }}</h3>
            <p><strong>Type:</strong> {{ selectedJob?.type }}</p>
            <p><strong>Location:</strong> {{ selectedJob?.location }}</p>
            <p><strong>Salary:</strong> {{ selectedJob?.package_lpa }} LPA</p>
            <p><strong>Role:</strong> {{ selectedJob?.role }}</p>
            <p><strong>Description:</strong> {{ selectedJob?.discreption }}</p>
            <p><strong>Rounds:</strong> {{ selectedJob?.no_rounds }}</p>
            <p><strong>Apply Before:</strong> {{ selectedJob?.apply_before }}</p>

            <div class="stages-container">
                <div *ngFor="let stage of stages; let i = index" class="stage">
                  <div class="circle" [ngClass]="{ 
                    'stage-completed': i < currentStageIndex || currentStageIndex === stages.length - 1,
                    'stage-current': i === currentStageIndex && currentStageIndex !== stages.length - 1,
                    'stage-current-disabled': i === currentStageIndex && getPassNext(selectedJob?.id || 0) === 'FALSE',
                    'stage-offer': currentStageIndex === stages.length - 1
                    
                  }">
                  </div>
                  <div *ngIf="i < stages.length - 1" class="line"></div>
                  <div class="stage-label">{{ stage }}</div>
                </div>
              </div>
              
    </div>





</div>